<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dithered Video</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
        }
    </style>
</head>
<body>
    <div allign="center">
        <video width="640" height="480" controls>
            <source src="{{ url_for('static', filename='dithered_video.mp4') }}" type="video/mp4">
        </video>
    </div>
</body>
</html>
