<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dithered Image</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
        }

        img {
            max-width: 100%;
            max-height: 90vh; /* Ajusta o tamanho máximo da imagem */
        }
    </style>
</head>
<body>
    <div allign="center">
        {% if img_data %}
        <img src="data:image/png;base64,{{ img_data }}" alt="Imagem Processada">
        {% endif %}
    </div>
    
</body>
</html>
